<h1>Add New Student</h1>
<%= form_for( @student ) do | f | %>
    <div class="form-content">
        <div class="form-section">
            <div class="form-section__header">
                <h2>Student Profile</h2>
            </div>
            <div class="form-section__body">
                <div class="form-input-wrap">
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                </div>
            </div>
        </div><!-- /.form-section -->
        <div class="form-section">
            <div class="form-section__header">
                <h2>Supporting Info</h2>
            </div>
            <div class="form-section__body">
                <%= f.label :cohort %>
                <%= f.select :cohort_id, @cohorts %>
            </div>
        </div><!-- /.form-section -->
    </div><!-- /.form-content -->
    <div class="form-controls">
        <%= f.submit %>
    </div><!-- /.form-controls -->
<% end %>