<h1>Create New Instruction Session</h1>
<%= form_for( @instruction_session ) do | form | %>
	<div class="form-content">
		<div class="form-section">
			<div class="form-section__header">
				<h2>Details</h2>
			</div>
			<div class="form-section__body">
				<div class="form-input-wrap">
					<%= form.label :title %>
					<%= form.text_field :title %>
				</div>
				<div class="form-input-wrap">
					<%= form.label :description %>
					<%= form.text_area :description %>
				</div>
			</div>
		</div><!-- .form-section -->
		<div class="form-section">
			<div class="form-section__header">
				<h2>Students</h2>
			</div>
			<div class="form-section__body">
				<ul class="students-list"></ul>

				</ul>
			</div>
			<div class="form-secion__footer">
				<div class="form-input-wrap">
					<div class="load-more-wrap">
						<input id="fetch_student_data_input" type="text">
						<ul class="load-more-results"></ul>
					</div>
				</div>
			</div>
		</div><!-- .form-section -->
	</div>
	<div class="form-controls">
		<%= form.submit %>
	</div>
<% end %>
