<!DOCTYPE html>
<html>
<head>
  <title>Haaku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<section class="pre-header">
			<div class="alert-wrap"><%= alert %></div>
			<div class="notice-wrap"><%= notice %></div>
		</section>
		<nav class="nav">
			<div class="nav__inner">
				<div class="logo-wrap"></div>
				<ul class="nav-links-wrap">
					<% if ( current_user ) %>
						<div class="nav-cta">
							<span><%= current_user.email %></span>
						</div>
						<div class="nav-cta">
							<%= link_to 'Log Out', logout_path %>
						</div>
					<% else %>
						<div class="nav-cta">
							<%= link_to 'Log In', new_login_path %>
						</div>
					<% end %>
					<div class="nav-cta">
						<div class="nav-toggle"></div>
					</div>
				</ul>
			</div>
		</nav>
	</header>
	<main class="container">
		<%= yield %>
	</main>
</body>
</html>
